*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  position: relative;
   font-family: sans-serif;
  
  }
  .co{
    background-color: #2c3e50;
  }
  .bg-green{
    background-color: #1abc9c !important;
  }
  .green{
    color: #1abc9c !important;
  }
 .gray1{
    color:#2c3e50 !important;
  }
  .a1{
    width: 113px;
    margin-left: 500px;
}
.cop{
  background-color:#1a252f  ;
}
.rounded{
  border-radius: 6px;
}

.nav-link :hover{
 color:#1abc9c ;

}
.btn.aa .img-fluid:hover{
  color:#1abc9c ;

}
.form-floating input.form-control, .form-floating textarea.form-control {
  font-size: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px soild black;
}
button.rounded3{

  border-radius: 10px;
}


#port #navbar.bg-section1 .active>a {
  background-color: #007bff;
}



